# Besoin client n°3

# Partie commune : import des datas

Import des libs

In [652]:
import pandas as pd
import numpy as np

In [653]:
# import du csv
data = pd.read_csv('csv_final.csv')

In [654]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10980 entries, 0 to 10979
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   X                          10980 non-null  float64
 1   Y                          10980 non-null  float64
 2   OBJECTID                   10980 non-null  int64
 3   created_date               10684 non-null  object
 4   created_user               10659 non-null  object
 5   src_geo                    10255 non-null  object
 6   clc_quartier               10980 non-null  object
 7   clc_secteur                10980 non-null  object
 8   id_arbre                   10980 non-null  int64
 9   haut_tot                   10980 non-null  float64
 10  haut_tronc                 10980 non-null  float64
 11  tronc_diam                 10980 non-null  int64
 12  fk_arb_etat                10980 non-null  object
 13  fk_stadedev                10940 non-null  object
 14  fk_port                    10948 non-null  object
 15  fk_pied                    10970 non-null  object
 16  fk_situation               10980 non-null  object
 17  fk_revetement              10128 non-null  object
 18  commentaire_environnement  10970 non-null  object
 19  dte_plantation             1566 non-null   object
 20  age_estim                  10980 non-null  int64
 21  fk_prec_estim              10172 non-null  float64
 22  clc_nbr_diag               8276 non-null   float64
 23  dte_abattage               773 non-null    object
 24  fk_nomtech                 10956 non-null  object
 25  last_edited_user           10658 non-null  object
 26  last_edited_date           10659 non-null  object
 27  villeca                    10955 non-null  object
 28  nomfrancais                10980 non-null  object
 29  nomlatin                   10980 non-null  object
 30  GlobalID                   10980 non-null  object
 31  CreationDate               10658 non-null  object
 32  Creator                    10658 non-null  object
 33  EditDate                   10658 non-null  object
 34  Editor                     10658 non-null  object
 35  feuillage                  10980 non-null  object
 36  remarquable                10980 non-null  object
dtypes: float64(6), int64(4), object(27)
memory usage: 3.1+ MB

In [655]:
data

,X,Y,OBJECTID,created_date,created_user,src_geo,clc_quartier,clc_secteur,id_arbre,haut_tot,...,villeca,nomfrancais,nomlatin,GlobalID,CreationDate,Creator,EditDate,Editor,feuillage,remarquable
0,49.840500,3.293264,10,2017-02-02,mickael.delaere,orthophoto,quartier du centre-ville,quai gayant,19,6.0,...,ville,querub,querub,{b33346a7-0de2-428e-a48d-4b231368284c},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
1,49.861409,3.273380,21,2017-02-02,mickael.delaere,orthophoto,quartier du vermandois,stade cepy,7,13.0,...,ville,pinnignig,pinnignig,{668fefc7-0667-4ffa-ae55-c82861edfc0b},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,conifère,non
2,49.844513,3.289068,22,2017-02-02,mickael.delaere,orthophoto,quartier du centre-ville,rue villebois mareuil,1,12.0,...,ville,acepse,acepse,{d0017cec-d346-4c95-a043-ad115b267089},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
3,49.861778,3.302387,25,2017-02-02,mickael.delaere,orthophoto,quartier de l'europe,square des marronniers,48,16.0,...,ville,acepla,acepla,{9b347790-954e-4e86-ad09-382fc1f32b24},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
4,49.858446,3.304047,26,2017-02-02,mickael.delaere,orthophoto,quartier de l'europe,avenue buffon,25,5.0,...,ville,salbab,salbab,{d6af7997-d4b3-405f-8c95-f93c4f41be4a},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10975,49.848695,3.283505,12020,NaN,NaN,orthophoto,quartier du centre-ville,place edouard branly,2,3.0,...,ville,albjul,albjul,{d411ba30-f054-45a2-af78-c90fc62baa0c},NaN,NaN,NaN,NaN,feuillu,non
10976,49.848682,3.283436,12021,NaN,NaN,orthophoto,quartier du centre-ville,place edouard branly,3,3.0,...,ville,albjulcho,albjulcho,{557e12ce-b2fd-4fbf-98e3-bff5d9f32272},NaN,NaN,NaN,NaN,feuillu,non
10977,49.860413,3.297078,12022,NaN,NaN,orthophoto,quartier de l'europe,rue hertz,78,3.0,...,ville,cedlib,cedlib,{af88d312-7b52-4e1a-81b9-328cdcf8ca16},NaN,NaN,NaN,NaN,conifère,non
10978,49.848009,3.291685,12023,NaN,NaN,orthophoto,quartier du centre-ville,square rue fréreuse,14,3.0,...,ville,fagsyldawgol,fagsyldawgol,{bce4e037-9cdf-4b0e-b12e-5e9031006eba},NaN,NaN,NaN,NaN,feuillu,non
10979,49.861503,3.301788,12025,NaN,NaN,orthophoto,quartier de l'europe,square des marronniers,81,3.0,...,ville,lirtul,lirtul,{88d43bc2-80e9-420b-ba2d-694ec7777183},NaN,NaN,NaN,NaN,feuillu,non

## Random Forest 1

In [656]:
data["fk_stadedev"].unique()

array(['jeune', 'adulte', 'senescent', 'vieux', nan, ' '], dtype=object)

In [657]:
data.shape

(10980, 37)

In [658]:
# supprimer les lignes avec valeurs manquantes
data.drop(data[pd.isna(data.fk_stadedev)].index, inplace=True)
data.drop(data[data.fk_stadedev == " "].index, inplace=True)

In [659]:
data.shape

(10938, 37)

In [685]:
data

,X,Y,OBJECTID,created_date,created_user,src_geo,clc_quartier,clc_secteur,id_arbre,haut_tot,...,villeca,nomfrancais,nomlatin,GlobalID,CreationDate,Creator,EditDate,Editor,feuillage,remarquable
0,49.840500,3.293264,10,2017-02-02,mickael.delaere,orthophoto,quartier du centre-ville,quai gayant,19,6.0,...,ville,querub,querub,{b33346a7-0de2-428e-a48d-4b231368284c},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
1,49.861409,3.273380,21,2017-02-02,mickael.delaere,orthophoto,quartier du vermandois,stade cepy,7,13.0,...,ville,pinnignig,pinnignig,{668fefc7-0667-4ffa-ae55-c82861edfc0b},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,conifère,non
2,49.844513,3.289068,22,2017-02-02,mickael.delaere,orthophoto,quartier du centre-ville,rue villebois mareuil,1,12.0,...,ville,acepse,acepse,{d0017cec-d346-4c95-a043-ad115b267089},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
3,49.861778,3.302387,25,2017-02-02,mickael.delaere,orthophoto,quartier de l'europe,square des marronniers,48,16.0,...,ville,acepla,acepla,{9b347790-954e-4e86-ad09-382fc1f32b24},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
4,49.858446,3.304047,26,2017-02-02,mickael.delaere,orthophoto,quartier de l'europe,avenue buffon,25,5.0,...,ville,salbab,salbab,{d6af7997-d4b3-405f-8c95-f93c4f41be4a},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10975,49.848695,3.283505,12020,NaN,NaN,orthophoto,quartier du centre-ville,place edouard branly,2,3.0,...,ville,albjul,albjul,{d411ba30-f054-45a2-af78-c90fc62baa0c},NaN,NaN,NaN,NaN,feuillu,non
10976,49.848682,3.283436,12021,NaN,NaN,orthophoto,quartier du centre-ville,place edouard branly,3,3.0,...,ville,albjulcho,albjulcho,{557e12ce-b2fd-4fbf-98e3-bff5d9f32272},NaN,NaN,NaN,NaN,feuillu,non
10977,49.860413,3.297078,12022,NaN,NaN,orthophoto,quartier de l'europe,rue hertz,78,3.0,...,ville,cedlib,cedlib,{af88d312-7b52-4e1a-81b9-328cdcf8ca16},NaN,NaN,NaN,NaN,conifère,non
10978,49.848009,3.291685,12023,NaN,NaN,orthophoto,quartier du centre-ville,square rue fréreuse,14,3.0,...,ville,fagsyldawgol,fagsyldawgol,{bce4e037-9cdf-4b0e-b12e-5e9031006eba},NaN,NaN,NaN,NaN,feuillu,non
10979,49.861503,3.301788,12025,NaN,NaN,orthophoto,quartier de l'europe,square des marronniers,81,3.0,...,ville,lirtul,lirtul,{88d43bc2-80e9-420b-ba2d-694ec7777183},NaN,NaN,NaN,NaN,feuillu,non

Etude des corrélations entre les variables :
(il faut encore passer l'etat en num)

In [660]:
data.corr(method='pearson', numeric_only=True)

,X,Y,OBJECTID,id_arbre,haut_tot,haut_tronc,tronc_diam,age_estim,fk_prec_estim,clc_nbr_diag
X,1.000000,-0.048858,-0.031844,0.077240,0.128758,0.016815,0.061571,0.005383,-0.070403,-0.094427
Y,-0.048858,1.000000,-0.138029,-0.029334,0.315899,0.142569,0.206026,0.184251,0.183394,-0.076091
OBJECTID,-0.031844,-0.138029,1.000000,0.098304,-0.328703,-0.237365,-0.412644,-0.580161,-0.596798,-0.367090
id_arbre,0.077240,-0.029334,0.098304,1.000000,0.134384,0.202647,0.008262,0.050916,0.063474,-0.059543
haut_tot,0.128758,0.315899,-0.328703,0.134384,1.000000,0.503244,0.683618,0.597578,0.512354,0.347459
haut_tronc,0.016815,0.142569,-0.237365,0.202647,0.503244,1.000000,0.367165,0.506759,0.447455,0.331196
tronc_diam,0.061571,0.206026,-0.412644,0.008262,0.683618,0.367165,1.000000,0.767061,0.615853,0.342286
age_estim,0.005383,0.184251,-0.580161,0.050916,0.597578,0.506759,0.767061,1.000000,0.820077,0.350742
fk_prec_estim,-0.070403,0.183394,-0.596798,0.063474,0.512354,0.447455,0.615853,0.820077,1.000000,0.340115
clc_nbr_diag,-0.094427,-0.076091,-0.367090,-0.059543,0.347459,0.331196,0.342286,0.350742,0.340115,1.000000

In [661]:
from sklearn import preprocessing, feature_selection

In [662]:
encoder = preprocessing.OrdinalEncoder()
fk_stadedev_encoded = encoder.fit_transform(data[['fk_stadedev']])
print(encoder.categories_)
data['fk_stadedev'] = fk_stadedev_encoded


encoder = preprocessing.OrdinalEncoder()
fk_stadedev_encoded = encoder.fit_transform(data[['fk_arb_etat']])
print(encoder.categories_)
data['fk_arb_etat'] = fk_stadedev_encoded

[array(['adulte', 'jeune', 'senescent', 'vieux'], dtype=object)]
[array(['abattu', 'en place', 'essouché', 'non essouché', 'remplacé',
       'supprimé'], dtype=object)]

In [663]:
data.head(10)

,X,Y,OBJECTID,created_date,created_user,src_geo,clc_quartier,clc_secteur,id_arbre,haut_tot,...,villeca,nomfrancais,nomlatin,GlobalID,CreationDate,Creator,EditDate,Editor,feuillage,remarquable
0,49.840500,3.293264,10,2017-02-02,mickael.delaere,orthophoto,quartier du centre-ville,quai gayant,19,6.0,...,ville,querub,querub,{b33346a7-0de2-428e-a48d-4b231368284c},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
1,49.861409,3.273380,21,2017-02-02,mickael.delaere,orthophoto,quartier du vermandois,stade cepy,7,13.0,...,ville,pinnignig,pinnignig,{668fefc7-0667-4ffa-ae55-c82861edfc0b},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,conifère,non
2,49.844513,3.289068,22,2017-02-02,mickael.delaere,orthophoto,quartier du centre-ville,rue villebois mareuil,1,12.0,...,ville,acepse,acepse,{d0017cec-d346-4c95-a043-ad115b267089},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
3,49.861778,3.302387,25,2017-02-02,mickael.delaere,orthophoto,quartier de l'europe,square des marronniers,48,16.0,...,ville,acepla,acepla,{9b347790-954e-4e86-ad09-382fc1f32b24},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
4,49.858446,3.304047,26,2017-02-02,mickael.delaere,orthophoto,quartier de l'europe,avenue buffon,25,5.0,...,ville,salbab,salbab,{d6af7997-d4b3-405f-8c95-f93c4f41be4a},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
5,49.860928,3.305537,27,2017-02-02,mickael.delaere,orthophoto,quartier de l'europe,rue laplace,26,8.0,...,ville,acepla,acepla,{20282309-2260-4d29-b357-093d16210454},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
6,49.837897,3.271264,28,2017-02-02,mickael.delaere,orthophoto,quartier saint-martin - oëstres,rue de paris,1,6.0,...,ville,tilcor,tilcor,{785dbbad-00d8-4cbf-b1b5-3986ffbf8d47},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
7,49.837747,3.270901,29,2017-02-02,mickael.delaere,orthophoto,quartier saint-martin - oëstres,rue de paris,2,8.0,...,ville,tilcor,tilcor,{64ddb4c3-26f6-401f-a28e-fc9985a449e9},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
8,49.837673,3.270732,30,2017-02-02,mickael.delaere,orthophoto,quartier saint-martin - oëstres,rue de paris,3,8.0,...,ville,tilcor,tilcor,{29091143-4b0e-4f81-a480-f455cbaa5f52},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non
9,49.837590,3.270542,31,2017-02-02,mickael.delaere,orthophoto,quartier saint-martin - oëstres,rue de paris,4,9.0,...,ville,tilcor,tilcor,{0e165a9e-11aa-4d14-94b6-a24be3c4d0e4},2018-01-15,mickael.delaere,2018-01-15,mickael.delaere,feuillu,non

In [664]:
import jinja2

In [665]:
print(data.columns)
data.corr(method='pearson', numeric_only=True)
#data.corr(method='pearson', numeric_only=True).style.background_gradient(cmap='coolwarm') # :(

Index(['X', 'Y', 'OBJECTID', 'created_date', 'created_user', 'src_geo',
       'clc_quartier', 'clc_secteur', 'id_arbre', 'haut_tot', 'haut_tronc',
       'tronc_diam', 'fk_arb_etat', 'fk_stadedev', 'fk_port', 'fk_pied',
       'fk_situation', 'fk_revetement', 'commentaire_environnement',
       'dte_plantation', 'age_estim', 'fk_prec_estim', 'clc_nbr_diag',
       'dte_abattage', 'fk_nomtech', 'last_edited_user', 'last_edited_date',
       'villeca', 'nomfrancais', 'nomlatin', 'GlobalID', 'CreationDate',
       'Creator', 'EditDate', 'Editor', 'feuillage', 'remarquable'],
      dtype='object')

,X,Y,OBJECTID,id_arbre,haut_tot,haut_tronc,tronc_diam,fk_arb_etat,fk_stadedev,age_estim,fk_prec_estim,clc_nbr_diag
X,1.000000,-0.048858,-0.031844,0.077240,0.128758,0.016815,0.061571,0.010857,-0.054203,0.005383,-0.070403,-0.094427
Y,-0.048858,1.000000,-0.138029,-0.029334,0.315899,0.142569,0.206026,0.084714,-0.340191,0.184251,0.183394,-0.076091
OBJECTID,-0.031844,-0.138029,1.000000,0.098304,-0.328703,-0.237365,-0.412644,-0.205166,0.378742,-0.580161,-0.596798,-0.367090
id_arbre,0.077240,-0.029334,0.098304,1.000000,0.134384,0.202647,0.008262,-0.100207,0.031296,0.050916,0.063474,-0.059543
haut_tot,0.128758,0.315899,-0.328703,0.134384,1.000000,0.503244,0.683618,0.149989,-0.372816,0.597578,0.512354,0.347459
haut_tronc,0.016815,0.142569,-0.237365,0.202647,0.503244,1.000000,0.367165,0.013607,-0.225803,0.506759,0.447455,0.331196
tronc_diam,0.061571,0.206026,-0.412644,0.008262,0.683618,0.367165,1.000000,0.153130,-0.482553,0.767061,0.615853,0.342286
fk_arb_etat,0.010857,0.084714,-0.205166,-0.100207,0.149989,0.013607,0.153130,1.000000,0.001751,0.136745,0.151851,0.197207
fk_stadedev,-0.054203,-0.340191,0.378742,0.031296,-0.372816,-0.225803,-0.482553,0.001751,1.000000,-0.497573,-0.415616,0.048969
age_estim,0.005383,0.184251,-0.580161,0.050916,0.597578,0.506759,0.767061,0.136745,-0.497573,1.000000,0.820077,0.350742
fk_prec_estim,-0.070403,0.183394,-0.596798,0.063474,0.512354,0.447455,0.615853,0.151851,-0.415616,0.820077,1.000000,0.340115
clc_nbr_diag,-0.094427,-0.076091,-0.367090,-0.059543,0.347459,0.331196,0.342286,0.197207,0.048969,0.350742,0.340115,1.000000

In [666]:
data2  =  data[["haut_tot", 'haut_tronc', 'tronc_diam', 'fk_stadedev', "age_estim", "fk_prec_estim", "clc_nbr_diag", "fk_arb_etat"]].copy(deep=True)
data2.dropna(inplace=True)
chi2_score = feature_selection.chi2(data2[["haut_tot", 'haut_tronc', 'tronc_diam', 'fk_stadedev', "age_estim", "fk_prec_estim", "clc_nbr_diag"]], data2[["fk_arb_etat"]])
chi2_score
# TODO chi2 test ?

(array([ 923.55743662,   89.69751008, 7584.24692206,   82.68723092,
        1429.04579568,  465.81331005,  599.58598887]),
 array([2.12068130e-197, 7.77795115e-018, 0.00000000e+000, 2.29790348e-016,
        6.99757717e-307, 1.90482712e-098, 2.48498618e-127]))

Colonnes retenues pour les prediction de `fk_arb_etat` : 
- `haut_tot`
- `haut_tronc`
- `tronc_diam`
- `fk_stadedev`
- `age_estim`


Il faut aussi veiller à préparer les données :

Split pour avoir les dataset train et test

In [667]:
data.shape[0] # get nombre de lignes pour voir

10938

In [668]:
from sklearn.model_selection import train_test_split

In [669]:
X_train, X_test, y_train, y_test = train_test_split(
  data[["haut_tot", 'haut_tronc', 'tronc_diam', 'fk_stadedev', 'age_estim']], data["fk_arb_etat"], test_size=0.2, random_state=42
)

In [670]:
X_train.head(10)

       haut_tot  haut_tronc  tronc_diam  fk_stadedev  age_estim
837        25.0         2.0         235          3.0         50
6313       13.0         3.0         110          0.0         35
2840        4.0         3.0         150          0.0         40
4276       12.0         0.0         130          0.0         30
2582        6.0         3.0          51          1.0         15
10195       5.0         3.0         126          0.0         45
7863        7.0         3.0          37          1.0         18
10015       2.0         1.0           5          1.0          5
10873       3.5         2.0          25          1.0          1
8612        7.0         2.0          99          0.0         15

In [671]:
X_test.head(10)

       haut_tot  haut_tronc  tronc_diam  fk_stadedev  age_estim
346        15.0         5.0         152          0.0         80
6540       17.0         2.5         120          0.0         35
5792       17.0         4.0         123          0.0         30
3980       21.0         7.0         298          0.0         65
2236        8.0         3.0          85          0.0         20
10949      14.0         3.0          80          1.0         20
3938       14.0         4.0         140          0.0         45
1454       10.0         3.0         195          0.0         50
8158        7.0         0.0         110          1.0         15
9298       11.0         2.0          87          1.0         10

In [672]:
y_train.head(10)

837      5.0
6313     1.0
2840     1.0
4276     1.0
2582     1.0
10195    1.0
7863     1.0
10015    1.0
10873    1.0
8612     1.0
Name: fk_arb_etat, dtype: float64

In [673]:
y_test.head(10)

346      1.0
6540     1.0
5792     1.0
3980     1.0
2236     1.0
10949    1.0
3938     1.0
1454     5.0
8158     1.0
9298     1.0
Name: fk_arb_etat, dtype: float64

## RandomForest sans rien d'autre, randomstate42

In [674]:
from sklearn.ensemble import RandomForestClassifier
import time

In [675]:
start_time = time.time()
classifier =  RandomForestClassifier(n_estimators=100, random_state=42)
classifier = classifier.fit(X_train, y_train)
end_time = time.time()

In [676]:
print(f'Temps écoulé : {end_time - start_time :.3f} secondes.')

Temps écoulé : 0.477 secondes.

In [677]:
from sklearn.metrics import accuracy_score

In [678]:
y_test_predicted = classifier.predict(X_test)
accuracy_score(y_test, y_test_predicted)

0.9113345521023766

## RandomForest avec grid search

In [679]:
from sklearn.model_selection import GridSearchCV

In [684]:
classifier =  RandomForestClassifier(random_state=42)
params = {"n_estimators": [50, 100, 150, 200, 250, 300]}
gscv = GridSearchCV(estimator=classifier, param_grid=params, scoring="accuracy", cv=5, n_jobs=-1) 
classifier_with_grid_search = gscv.fit(X_train, y_train) # le meilleur modele

print(classifier_with_grid_search.best_params_)

{'n_estimators': 250}

In [683]:
from sklearn.metrics import accuracy_score

y_test_predicted = classifier_with_grid_search.predict(X_test)
accuracy_score(y_test, y_test_predicted)

0.909963436928702

# RF bin

In [857]:
import pandas as pd
import numpy as np

# import du csv
data = pd.read_csv('csv_correction.csv')

In [858]:
from sklearn import preprocessing, feature_selection

In [859]:
data['fk_arb_etat_bool'] = data['fk_arb_etat'].replace(['ABATTU', 'EN PLACE', 'Non essouché', 'REMPLACÉ','SUPPRIMÉ'],'non essouché')

In [860]:
data

,longitude,latitude,clc_quartier,clc_secteur,haut_tot,haut_tronc,tronc_diam,fk_arb_etat,fk_stadedev,fk_port,...,fk_situation,fk_revetement,age_estim,fk_prec_estim,clc_nbr_diag,fk_nomtech,villeca,feuillage,remarquable,fk_arb_etat_bool
0,3.293264,49.840500,Quartier du Centre-Ville,Quai Gayant,6.0,2.0,37.0,EN PLACE,Jeune,semi libre,...,Alignement,Non,15.0,5.0,0.0,QUERUB,VILLE,Feuillu,Non,non essouché
1,3.273380,49.861409,Quartier du Vermandois,Stade Cepy,13.0,1.0,160.0,EN PLACE,Adulte,semi libre,...,Groupe,Non,50.0,10.0,0.0,PINNIGnig,VILLE,Conifère,Non,non essouché
2,3.289068,49.844513,Quartier du Centre-Ville,Rue Villebois Mareuil,12.0,3.0,116.0,REMPLACÉ,Adulte,semi libre,...,Alignement,Non,30.0,10.0,0.0,ACEPSE,VILLE,Feuillu,Non,non essouché
3,3.302387,49.861778,Quartier de l'Europe,Square des Marronniers,16.0,3.0,150.0,EN PLACE,Adulte,semi libre,...,Groupe,Non,50.0,2.0,0.0,ACEPLA,VILLE,Feuillu,Non,non essouché
4,3.304047,49.858446,Quartier de l'Europe,Avenue Buffon,5.0,2.0,170.0,Essouché,Adulte,réduit,...,Isolé,Non,40.0,2.0,0.0,SALBAB,VILLE,Feuillu,Non,Essouché
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7404,3.283505,49.848695,Quartier du Centre-Ville,Place Edouard Branly,3.0,2.0,15.0,EN PLACE,Jeune,Libre,...,Isolé,Non,5.0,1.0,0.0,ALBJUL,VILLE,Feuillu,Non,non essouché
7405,3.283436,49.848682,Quartier du Centre-Ville,Place Edouard Branly,3.0,2.0,15.0,EN PLACE,Jeune,Libre,...,Isolé,Non,3.0,1.0,0.0,ALBJULcho,VILLE,Feuillu,Non,non essouché
7406,3.297078,49.860413,Quartier de l'Europe,rue Hertz,3.0,2.0,15.0,EN PLACE,Jeune,Libre,...,Isolé,Non,5.0,1.0,0.0,CEDLIB,VILLE,Conifère,Non,non essouché
7407,3.291685,49.848009,Quartier du Centre-Ville,Square rue Fréreuse,3.0,2.0,15.0,EN PLACE,Jeune,Libre,...,Alignement,Non,5.0,1.0,0.0,FAGSYLdawgol,VILLE,Feuillu,Non,non essouché
7408,3.301788,49.861503,Quartier de l'Europe,square des marronniers,3.0,2.0,15.0,EN PLACE,Jeune,Libre,...,Isolé,Non,5.0,1.0,0.0,LIRTUL,VILLE,Feuillu,Non,non essouché

In [832]:
list_col = ['fk_stadedev', 'fk_arb_etat', 'fk_arb_etat_bool']
for col in list_col:
  encoder = preprocessing.OrdinalEncoder()
  fk_stadedev_encoded = encoder.fit_transform(data[[col]])
  print(encoder.categories_)
  data[col] = fk_stadedev_encoded

[array(['Adulte', 'Jeune', 'senescent', 'vieux'], dtype=object)]
[array(['ABATTU', 'EN PLACE', 'Essouché', 'Non essouché', 'REMPLACÉ',
       'SUPPRIMÉ'], dtype=object)]
[array(['Essouché', 'non essouché'], dtype=object)]

In [833]:
X_train, X_test, y_train, y_test = train_test_split(data[["haut_tot", 'haut_tronc', 'tronc_diam', 'fk_stadedev', 'age_estim']], data["fk_arb_etat_bool"], test_size=0.2, random_state=42)

In [834]:
from sklearn.ensemble import RandomForestClassifier
import time

In [835]:
start_time = time.time()
classifier = RandomForestClassifier(n_estimators=100, random_state=42)
classifier = classifier.fit(X_train, y_train)
end_time = time.time()

In [836]:
print(f'Temps écoulé : {end_time - start_time :.3f} secondes.')

Temps écoulé : 0.340 secondes.

In [837]:
from sklearn.metrics import accuracy_score

In [838]:
y_test_predicted = classifier.predict(X_test)
accuracy_score(y_test, y_test_predicted)

0.975033738191633

# RF avec binaire et feature selection

https://www.geeksforgeeks.org/feature-selection-using-random-forest/

In [879]:
list_col = ['fk_stadedev', 'fk_arb_etat', 'fk_arb_etat_bool', 'clc_quartier', 'clc_secteur', 'feuillage', 'fk_port', 'fk_situation', 'fk_nomtech']
for col in list_col:
  encoder = preprocessing.OrdinalEncoder()
  fk_stadedev_encoded = encoder.fit_transform(data[[col]])
  print(encoder.categories_)
  data[col] = fk_stadedev_encoded

[array([0., 1., 2., 3.])]
[array([0., 1., 2., 3., 4., 5.])]
[array([0., 1.])]
[array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])]
[array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 112., 113., 114., 115., 116., 117., 118., 119., 120.,
       121., 122., 123., 124., 125., 126., 127., 128., 129., 130., 131.,
       132., 133., 134., 135., 136., 137., 138., 139., 140., 141., 142.,
       143., 144., 145., 146., 147., 148., 149., 150., 151., 152., 153.,
       154., 155., 156., 157., 158., 159., 160., 161., 162., 163., 164.,
       165., 166., 167., 168., 169., 170., 171., 172., 173., 174., 175.,
       176., 177., 178., 179., 180., 181., 182., 183., 184., 185., 186.,
       187., 188., 189., 190., 191., 192., 193., 194., 195., 196., 197.,
       198., 199., 200., 201., 202., 203., 204., 205., 206., 207., 208.,
       209., 210., 211., 212., 213., 214., 215., 216., 217., 218., 219.,
       220., 221., 222., 223., 224., 225., 226., 227., 228., 229., 230.,
       231., 232., 233., 234., 235., 236., 237., 238., 239.])]
[array([0., 1.])]
[array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13.])]
[array([0., 1., 2.])]
[array(['ABI', 'ABICON', 'ABIGLA', 'ABILASari', 'ABINOR', 'ABINUM', 'ACE',
       'ACECAM', 'ACECAMele', 'ACECAMred', 'ACECAMros', 'ACECAP',
       'ACENEG', 'ACENEGvar', 'ACEPAL', 'ACEPLA', 'ACEPLAcol',
       'ACEPLAcri', 'ACEPLAfai', 'ACEPLApur', 'ACEPSE', 'ACEPSEatr',
       'ACEPSEleo', 'ACERUB', 'ACESAC', 'ACESACwie', 'AESCAR', 'AESHIP',
       'AEShom', 'AILALT', 'ALBJUL', 'ALBJULcho', 'ALNCOR', 'ALNGLU',
       'ALNGLUimp', 'ALNSPA', 'AMELAM', 'BETPAP', 'BETPEN', 'BETPENyou',
       'BETUTIjac', 'BUXSEM', 'CARBET', 'CARBETfas', 'CASSAT', 'CATBIG',
       'CEDATL', 'CEDATLgla', 'CEDATLpen', 'CEDDEO', 'CEDLIB', 'CERSIL',
       'CHALAW', 'CHANOO', 'CORAVE', 'CORCOL', 'CORKOU', 'CRALAEpau',
       'CRAMON', 'CRYJAP', 'CUP', 'CUPARI', 'CUPARIgla', 'CUPLEY',
       'CUPLEYvar', 'CUPSEM', 'CUPfas', 'CYDVULbou', 'ELAANG', 'FAGSYL',
       'FAGSYLdawgol', 'FAGSYLdawpur', 'FAGSYLfas', 'FAGSYLpen',
       'FAGSYLpur', 'FRAAME', 'FRAANG', 'FRAANGray', 'FRAEXC',
       'FRAEXCpen', 'FRAORN', 'FRAPEN', 'FRAPENcim', 'GINBIL', 'GLETRI',
       'GLETRIine', 'GLETRIsun', 'ILEAQU', 'JUGREG', 'JUNMEDpfi',
       'KOEPAN', 'LABANA', 'LAGIND', 'LARDEC', 'LIQSTY', 'LIRTUL',
       'MAGGRA', 'MAGKOB', 'MAGSOU', 'MAGSOUhea', 'MAL', 'MALBAC',
       'MALCOM', 'MALCOMgol', 'MALCOMtra', 'MALDOM', 'MALDOMast',
       'MALDOMbel', 'MALDOMbos', 'MALDOMcal', 'MALDOMcox', 'MALDOMgra',
       'MALDOMmel', 'MALDOMrei', 'MALPEN', 'MALPEReve', 'MALTOR',
       'MALTOR1', 'MALTORbro', 'MALTRI', 'MALTSC', 'MALgol', 'MALred',
       'METGLY', 'NOTANT', 'PARPER', 'PAUTOM', 'PICABI', 'PINNIGlar',
       'PINNIGnig', 'PINSYL', 'PINWAL', 'PLAACE', 'POPALB', 'POPCAN',
       'POPEURrob', 'POPNIG', 'POPNIGita', 'POPSIM', 'POPTRE', 'PRU',
       'PRUAVI', 'PRUAVIbea', 'PRUAVIbig', 'PRUAVImar', 'PRUCER',
       'PRUCERbig', 'PRUCERbig1', 'PRUCERbig2', 'PRUCERcoe', 'PRUCERpis',
       'PRUDOMals', 'PRUDOMcha', 'PRUDOMmir', 'PRUDOMmon', 'PRUDOMrei',
       'PRUDOMrei1', 'PRUDOMrei2', 'PRUDOMrei3', 'PRULAU', 'PRUMAAamb',
       'PRUPERnuc', 'PRUSER', 'PRUSERama', 'PRUSERfas', 'PRUSERkan',
       'PRUSERpen', 'PRUSUBaut', 'PSEMEN', 'PYRCAL', 'PYRCALcha',
       'PYRCOM', 'PYRCOMcon', 'PYRCOMdoy', 'QUEBIC', 'QUECAS', 'QUECER',
       'QUECOC', 'QUEELL', 'QUEILE', 'QUEMAC', 'QUEPAL', 'QUEPET',
       'QUEROB', 'QUEROBfas', 'QUERUB', 'QUESHU', 'RHUTYP', 'ROBPSE',
       'ROBPSEfri', 'SALALB', 'SALALBche', 'SALBAB', 'SALCAP', 'SAMNIG',
       'SEQGIG', 'SOPJAP', 'SOPJAPpen', 'SORALB', 'SORARI', 'SORARIlut',
       'SORAUC', 'SORTOR', 'TAMGAL', 'TAXBAC', 'TAXBACfas', 'TAXDIS',
       'THUPLI', 'THUPLIatr', 'THUPLIzeb', 'TILCOR', 'TILEUR', 'TILHEN',
       'TILPLA', 'TILTOM', 'ULMJAP', 'ULMMIN', 'ULMRES', 'ULMRESreb',
       'ULMRESsap'], dtype=object)]

In [863]:
data

,longitude,latitude,clc_quartier,clc_secteur,haut_tot,haut_tronc,tronc_diam,fk_arb_etat,fk_stadedev,fk_port,...,fk_situation,fk_revetement,age_estim,fk_prec_estim,clc_nbr_diag,fk_nomtech,villeca,feuillage,remarquable,fk_arb_etat_bool
0,3.293264,49.840500,7.0,112.0,6.0,2.0,37.0,1.0,1.0,8.0,...,0.0,Non,15.0,5.0,0.0,QUERUB,VILLE,1.0,Non,1.0
1,3.273380,49.861409,8.0,228.0,13.0,1.0,160.0,1.0,0.0,8.0,...,1.0,Non,50.0,10.0,0.0,PINNIGnig,VILLE,0.0,Non,1.0
2,3.289068,49.844513,7.0,166.0,12.0,3.0,116.0,4.0,0.0,8.0,...,0.0,Non,30.0,10.0,0.0,ACEPSE,VILLE,1.0,Non,1.0
3,3.302387,49.861778,6.0,225.0,16.0,3.0,150.0,1.0,0.0,8.0,...,1.0,Non,50.0,2.0,0.0,ACEPLA,VILLE,1.0,Non,1.0
4,3.304047,49.858446,6.0,4.0,5.0,2.0,170.0,2.0,0.0,6.0,...,2.0,Non,40.0,2.0,0.0,SALBAB,VILLE,1.0,Non,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7404,3.283505,49.848695,7.0,103.0,3.0,2.0,15.0,1.0,1.0,1.0,...,2.0,Non,5.0,1.0,0.0,ALBJUL,VILLE,1.0,Non,1.0
7405,3.283436,49.848682,7.0,103.0,3.0,2.0,15.0,1.0,1.0,1.0,...,2.0,Non,3.0,1.0,0.0,ALBJULcho,VILLE,1.0,Non,1.0
7406,3.297078,49.860413,6.0,238.0,3.0,2.0,15.0,1.0,1.0,1.0,...,2.0,Non,5.0,1.0,0.0,CEDLIB,VILLE,0.0,Non,1.0
7407,3.291685,49.848009,7.0,226.0,3.0,2.0,15.0,1.0,1.0,1.0,...,0.0,Non,5.0,1.0,0.0,FAGSYLdawgol,VILLE,1.0,Non,1.0
7408,3.301788,49.861503,6.0,239.0,3.0,2.0,15.0,1.0,1.0,1.0,...,2.0,Non,5.0,1.0,0.0,LIRTUL,VILLE,1.0,Non,1.0

In [864]:
from sklearn.model_selection import train_test_split

In [880]:
all_cols_list = ["haut_tot", 'haut_tronc', 'tronc_diam', 'fk_stadedev', 'age_estim', 'clc_quartier', 'clc_secteur', 'feuillage', 'fk_port', 'fk_situation', 'fk_nomtech']

In [881]:
X_train, X_test, y_train, y_test = train_test_split(data[all_cols_list], data["fk_arb_etat_bool"], test_size=0.2, random_state=42)

In [882]:
# Train the Random Forest model
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

# Evaluate the model
accuracy_before = rf.score(X_test, y_test)

In [883]:
accuracy_before

0.979757085020243

In [884]:
# Extract feature importances
importances = rf.feature_importances_
importances

array([0.15161135, 0.112041  , 0.26843113, 0.01349043, 0.07359512,
       0.06056892, 0.1296089 , 0.01190648, 0.02460533, 0.03037062,
       0.12377071])

In [885]:
feature_names = data[all_cols_list].columns
feature_names

Index(['haut_tot', 'haut_tronc', 'tronc_diam', 'fk_stadedev', 'age_estim',
       'clc_quartier', 'clc_secteur', 'feuillage', 'fk_port', 'fk_situation',
       'fk_nomtech'],
      dtype='object')

In [886]:
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': importances})
feature_importance_df

         Feature  Importance
0       haut_tot    0.151611
1     haut_tronc    0.112041
2     tronc_diam    0.268431
3    fk_stadedev    0.013490
4      age_estim    0.073595
5   clc_quartier    0.060569
6    clc_secteur    0.129609
7      feuillage    0.011906
8        fk_port    0.024605
9   fk_situation    0.030371
10    fk_nomtech    0.123771

In [887]:
# Rank features by importance
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
print(feature_importance_df)

         Feature  Importance
2     tronc_diam    0.268431
0       haut_tot    0.151611
6    clc_secteur    0.129609
10    fk_nomtech    0.123771
1     haut_tronc    0.112041
4      age_estim    0.073595
5   clc_quartier    0.060569
9   fk_situation    0.030371
8        fk_port    0.024605
3    fk_stadedev    0.013490
7      feuillage    0.011906

In [894]:
# Select top N features (example selecting top 5 features)
top_features = feature_importance_df['Feature'][:5].values
X_train_selected = X_train[top_features]
X_test_selected = X_test[top_features]

In [906]:
# Train the Random Forest model with selected features
start_time = time.time()
rf_selected = RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1)
rf_selected.fit(X_train_selected, y_train)
end_time = time.time()
y_test_predicted = rf_selected.predict(X_test_selected)
# Evaluate the model
#accuracy_after = rf_selected.score(X_test_selected, y_test)
print(f'Accuracy after feature selection: {accuracy_score(y_test, y_test_predicted):.3f}')

print(f'Temps écoulé : {end_time - start_time :.3f} secondes.')

Accuracy after feature selection: 0.979
Temps écoulé : 0.147 secondes.

## RF + bool + feature selection + grid search

In [908]:
classifier = RandomForestClassifier(random_state=42)
params = {"n_estimators": [50, 100, 150, 200, 250, 300]}
gscv = GridSearchCV(estimator=classifier, param_grid=params, scoring="accuracy", cv=5, n_jobs=-1)
classifier_with_grid_search = gscv.fit(X_train_selected, y_train)  # le meilleur modele

print(classifier_with_grid_search.best_params_)
from sklearn.metrics import accuracy_score

y_test_predicted = classifier_with_grid_search.predict(X_test_selected)
accuracy_score(y_test, y_test_predicted)

{'n_estimators': 150}

0.9790823211875843

In [910]:
y_test

7092    1.0
1544    1.0
2431    1.0
3866    1.0
2549    1.0
       ...
1488    1.0
1593    1.0
4139    1.0
6203    1.0
4393    1.0
Name: fk_arb_etat_bool, Length: 1482, dtype: float64

In [918]:
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_predict, cross_val_score

In [920]:
cvs = cross_val_predict(gscv, X_train_selected, y_train, cv = 3, n_jobs=-1)

In [921]:
confusion_matrix(y_train, cvs, normalize="true")

array([[0.11428571, 0.88571429],
       [0.00276482, 0.99723518]])

Probleme : déséquilibre essouché / non essouché
## SMOTE

In [922]:
from imblearn.over_sampling import SMOTE

In [925]:
X_train

,haut_tot,haut_tronc,tronc_diam,fk_stadedev,age_estim,clc_quartier,clc_secteur,feuillage,fk_port,fk_situation,fk_nomtech
5628,13.0,2.0,110.0,0.0,35.0,9.0,90.0,1.0,8.0,0.0,20.0
5246,13.0,2.0,115.0,0.0,40.0,3.0,34.0,1.0,8.0,2.0,94.0
1049,16.0,5.0,113.0,0.0,50.0,2.0,82.0,1.0,8.0,0.0,132.0
626,14.0,2.0,165.0,0.0,50.0,6.0,10.0,1.0,8.0,0.0,45.0
2018,8.0,3.0,80.0,0.0,40.0,9.0,14.0,1.0,7.0,0.0,169.0
...,...,...,...,...,...,...,...,...,...,...,...
5191,31.0,4.0,211.0,0.0,40.0,6.0,69.0,1.0,8.0,1.0,137.0
5226,19.0,2.0,124.0,0.0,40.0,6.0,69.0,1.0,8.0,1.0,134.0
5390,9.0,2.0,90.0,1.0,20.0,8.0,116.0,1.0,8.0,0.0,210.0
860,9.0,3.0,79.0,0.0,50.0,2.0,91.0,1.0,8.0,1.0,38.0
7270,10.0,3.0,80.0,1.0,25.0,2.0,22.0,0.0,1.0,1.0,129.0

In [926]:
smt = SMOTE()
X_train_sm, y_train_sm = smt.fit_resample(X_train, y_train)

In [927]:
X_train_sm

,haut_tot,haut_tronc,tronc_diam,fk_stadedev,age_estim,clc_quartier,clc_secteur,feuillage,fk_port,fk_situation,fk_nomtech
0,13.000000,2.000000,110.000000,0.000000,35.000000,9.000000,90.000000,1.000000,8.000000,0.000000,20.000000
1,13.000000,2.000000,115.000000,0.000000,40.000000,3.000000,34.000000,1.000000,8.000000,2.000000,94.000000
2,16.000000,5.000000,113.000000,0.000000,50.000000,2.000000,82.000000,1.000000,8.000000,0.000000,132.000000
3,14.000000,2.000000,165.000000,0.000000,50.000000,6.000000,10.000000,1.000000,8.000000,0.000000,45.000000
4,8.000000,3.000000,80.000000,0.000000,40.000000,9.000000,14.000000,1.000000,7.000000,0.000000,169.000000
...,...,...,...,...,...,...,...,...,...,...,...
11569,15.000000,4.125162,138.748382,0.000000,40.000000,2.500647,8.883901,0.000000,8.000000,1.000000,129.000000
11570,14.922035,3.961017,140.389825,0.000000,40.389825,2.155930,2.077965,0.038983,8.000000,0.961017,128.883052
11571,6.000000,2.508720,170.743226,0.000000,19.239334,9.000000,37.269386,1.000000,8.508720,0.000000,202.526160
11572,25.976811,7.969082,270.618360,0.023189,150.386475,6.007730,224.907246,1.000000,8.000000,1.000000,27.000000
11573,6.997103,2.008692,129.046359,0.000000,15.072436,9.000000,40.936256,1.000000,8.008692,1.994205,201.026077

In [928]:
y_train_sm

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
11569    0.0
11570    0.0
11571    0.0
11572    0.0
11573    0.0
Name: fk_arb_etat_bool, Length: 11574, dtype: float64